<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/articles">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/articles">Home</a></li>
            <li><a routerLink="/signin">Logout</a></li>
        </ul>
    </div>
</nav>
<h1>Articles</h1>
<div class="text-center" *ngIf="!loading">
    Loading...
</div>
<article *ngFor="let article of articles">
    <h1>{{ article.headline.main }}</h1>
    <p>{{ article.snippet }}.</p>
</article>